<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorldPaySDKDemo_AC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WorldPaySDKDemo_Miura.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>811A0D5B1BB2F20100B73C09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>811A0D771BB2F20100B73C09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>814EDBF41C69636E0010877C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
